.App {
}

html,
body,
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding-top: 150px;
}

*:focus {
  outline: none;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

.iconButton {
  opacity: 0;
}

.iconButton:hover {
  opacity: 1;
}
